package auth

import "github.com/lucianocorreia/thor/models"
import "github.com/lucianocorreia/thor/views/layouts"

type RegisterViewProps struct {
	App models.App
}

templ RegisterView(props RegisterViewProps) {
	@layouts.Auth("Criar Conta") {
		<h1>Register</h1>
	}
}
