package auth

import "github.com/lucianocorreia/go-fullstack/models"
import "github.com/lucianocorreia/go-fullstack/views/layouts"

type RegisterViewProps struct {
	App models.App
}

templ RegisterView(props RegisterViewProps) {
	@layouts.Base(props.App) {
		<h1>Register</h1>
	}
}
