package auth

import "github.com/lucianocorreia/go-fullstack/views/layouts"
import "github.com/lucianocorreia/go-fullstack/models"

type IndexViewProps struct {
	App models.App
}

templ IndexView(props IndexViewProps) {
	@layouts.Base(props.App) {
		<h1>Index</h1>
	}
}
